.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    /* box-shadow: 0 1px 3px -2px black; */
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.nav-menu li{
    cursor: pointer;
    color: black;
    padding: 0rem 0.5rem;
}

.nav-logo img {
    height: auto; /* Adjust the height as needed */
    width: 80%; /* Maintain aspect ratio */
  }

.nav-menu li.active {
    border-bottom: 2px solid red;
  }